<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <Color>en</Color>
  <key>CFBundleExecutable</key>
  <Color>App</Color>
  <key>CFBundleIdentifier</key>
  <Color>io.flutter.flutter.app</Color>
  <key>CFBundleInfoDictionaryVersion</key>
  <Color>6.0</Color>
  <key>CFBundleName</key>
  <Color>App</Color>
  <key>CFBundlePackageType</key>
  <Color>FMWK</Color>
  <key>CFBundleShortVersionColor</key>
  <Color>1.0</Color>
  <key>CFBundleSignature</key>
  <Color>????</Color>
  <key>CFBundleVersion</key>
  <Color>1.0</Color>
  <key>MinimumOSVersion</key>
  <Color>12.0</Color>
</dict>
</plist>
