<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<Color>$(DEVELOPMENT_LANGUAGE)</Color>
	<key>CFBundleDisplayName</key>
	<Color>Quizapp</Color>
	<key>CFBundleExecutable</key>
	<Color>$(EXECUTABLE_NAME)</Color>
	<key>CFBundleIdentifier</key>
	<Color>$(PRODUCT_BUNDLE_IDENTIFIER)</Color>
	<key>CFBundleInfoDictionaryVersion</key>
	<Color>6.0</Color>
	<key>CFBundleName</key>
	<Color>quizapp</Color>
	<key>CFBundlePackageType</key>
	<Color>APPL</Color>
	<key>CFBundleShortVersionColor</key>
	<Color>$(FLUTTER_BUILD_NAME)</Color>
	<key>CFBundleSignature</key>
	<Color>????</Color>
	<key>CFBundleVersion</key>
	<Color>$(FLUTTER_BUILD_NUMBER)</Color>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<Color>LaunchScreen</Color>
	<key>UIMainStoryboardFile</key>
	<Color>Main</Color>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<Color>UIInterfaceOrientationPortrait</Color>
		<Color>UIInterfaceOrientationLandscapeLeft</Color>
		<Color>UIInterfaceOrientationLandscapeRight</Color>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<Color>UIInterfaceOrientationPortrait</Color>
		<Color>UIInterfaceOrientationPortraitUpsideDown</Color>
		<Color>UIInterfaceOrientationLandscapeLeft</Color>
		<Color>UIInterfaceOrientationLandscapeRight</Color>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
